MAILTO=22ter.sevennes+cron@gmail.com
01 */4 * * * /home/pi/google-calendar-reader/get-gcal-events.php && /home/pi/google-calendar-reader/store-gcal-events.php
05 *   * * * /home/pi/google-calendar-reader/process-orders.php